
.ecommerce-img{
    max-width: 100%;
    height: 250px;
    background-image: url(/images/pexels-ron-lach-9594428.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    backdrop-filter: blur(130px);
    position: relative;
    margin-top: 60px;
}
.ecommerce-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(130px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 70px;
}
.ecommerce-overlay img{
    margin: auto;
    width: 50px;
    height: 35px;
}
.ecommerce-overlay p{
    font-weight: 400;
}
.ecommerce-overlay .p1{
    font-weight: 600;
    font-size: 28px;
}
.ecommerce-overlay span{
    font-weight: 600;
}
.nav-filter{
    width: 100%;
    height: 100px;
    background-color: rgb(221, 203, 180);
    padding: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::placeholder{
    padding-left: 4px;
}
.products-div{
    margin-top: 60px !important;
    padding-top: 50px !important;
    width: 80%;
    margin: auto;
    /* background-color: blueviolet; */
}
.product-div{
    padding: 20px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.product-div img{
    margin: auto;
}
.product-btn{
    padding: 5px;
    margin-top: 10px;
    margin-top: 10px;
    transition: .4s;
}
.product-div p{
    margin: 0px 10px;

}
.gg{
    padding: 20px;
}
.product-price{
    margin: 5px 0px;
}
.sub-nav{
    margin-top: 20px;
    padding: 40px;
}
.search-input{
    padding:10px;
    border-radius: 15px;
}
.pagination-div{
    margin:20px auto;
    text-align: center !important;
}
.pagnation-btn,
.pagination-next-btn{
    padding: 12px 17px;
    text-align: center;
    margin: 18px 7px;
    cursor: pointer;
    border-radius: 20px;
}
.services-div{
    background-color: rgb(233, 213, 213);
    margin-top: 20px;
    padding: 60px;
}
.services-div h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
