.details-container{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.quantity-counter{
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    width: fit-content;
}
.add-to-cart-btn{
    padding: 10px;
    cursor: pointer;
}
.gg{
    padding: 20px;
    /* margin: auto; */
    cursor: pointer;
}
.hr1{
    margin: 20px 0px;
}
.related{
    margin-bottom: 40px;
    margin-top: 30px;
}